* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header""nav""main";
}

/* Header */

header {
    grid-area: header;
    color: #fff;
    background-color: #7477bf;
    display: flex;
    align-items: center;
    padding: 3%;
}

.bell {
    display: flex;
    flex-basis: 20%;
    justify-content: flex-end;
    height: 20px;
    width: 20px; 
}

.notifications-dot {
    height: 8px;
    width: 8px;
    background: rgb(92, 216, 43);
    border-radius: 50%;
    margin-bottom: 25px;
}

.line-break {
    border-right: 1px solid rgb(145, 142, 142);
    height: 3.5rem;
    flex-basis: 15%;
    margin-left: -15px;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.profile-pic {
    height: auto;
    width: 25%;
    border-radius: 100%;
}

.name {
 padding-left: 10px;
}

/* Navigation */

nav {
    grid-area: nav;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #e3e3e9;
}

nav img {
    width: 30px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Dashboard */

main {
    grid-area: main;
}

.main-header {
    display: flex;
    flex-direction: row;
}

.headline{
    padding: 15px;
    height: 50px;
}

.tab {
    width: 100%;
    background: rgb(236, 235, 235);
    border-left: 1px solid rgb(250, 246, 246);
    border-bottom: 1px solid lightgray;
}

.alert {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 15px;
    background-color: #7477bf;
    color: white;
    border-radius: 5px;
  }

  /* Graphs & Charts */

  .traffic-header {
      padding-left: 15px;
  }
  
  .traffic-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      list-style-type: none;
      padding-right: 10%;
      margin-left: -20px;
      margin-top: 5px;
  }

  .fill {
    background-color: rgb(120, 196, 135);
    border-radius: 25px;
    padding: 2% 4%;
    color: whitesmoke;
}

  .widget-container-full,
.widget-container-half {
    width: 95vw;
}

#daily-chart,
#mobile-chart {
    width: 45vw;
    height: 45vh;
}

@media (min-width: 768px) {
    .main {
    grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {
    .traffic, .social {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
}

@media (min-width: 768px) {
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}

