* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header""nav""main";
}

header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: #7477bf;
    color: #fff;
    }

.profile {
    display: flex;
    flex-direction: row;
}

.bell {
    height: 25px;
    width: 25px;
}


.profile-pic {
    width: 40px;
    height: auto;
    padding-right: 10px;
}

nav {
    grid-area: nav;
}


nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #464557;

}

nav img {
    width: 30px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

main {
    grid-area: main;
}

.headline{
    padding: 15px;
    height: 50px;
    border-left: 1px solid;
    border-bottom: 1px solid
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 15px;
    background-color: #7477bf;
    color: white;
    border-radius: 5px;
  }


@media (min-width: 768px) {
    .main {
    grid-template-columns: 50%;
    }
}

@media (min-width: 768px) {
    .traffic, .social {
        grid-column: 1 / span 2;
    }
}

@media (min-width: 768px) {
    .daily, .members, .message {
        grid-column: 1 / span 1;
    }
}

@media (min-width: 768px) {
    .mobile, .activity, .settings {
        grid-column: 2 / span 1;
    }
}

.widget-container-full, .widget-container-half {
    width: 95vw;
}

@media (min-width: 768px) {
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
}

